html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

input {
  display: block;
  padding: 10px;
  margin: 20px;
}

.randomizerButton {
  padding: 20px;
  background-color: #4dd3ff;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
